div {
    border: 1px solid lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

.container-calc {
    display: flex;
    flex-direction: column;
    width: 200px;

    margin: 0 auto;
}

.is-depressed {
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
         box-shadow: inset 0px 0px 5px #c1c1c1;
}

.display {

    padding: 10px;
    padding-right: 10px;
    font-size: 2em;
    text-align: right;
    background-color: rgb(33, 33, 33);
    color: whitesmoke;
}

.display-helper {
    text-align: right;
    padding-right: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}


.calc-buttons {

    min-height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "clear . backspace devide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    ". zero decimal equals";
}

button {
    background-color: lightblue;
}

[data-action="clear"] {
    grid-area: clear;
}

[data-action="backspace"] {
    grid-area: backspace;
}

[data-action="devide"] {
    grid-area: devide;
}

[data-action="add"] {
    grid-area: add;
}

[data-action="subtract"] {
    grid-area: subtract;
}

[data-action="multiply"] {
    grid-area: multiply;
}

[data-action="equals"] {
    grid-area: equals;
}

[data-action="decimal"] {
    grid-area: decimal;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#zero {
    grid-area: zero;
}



